@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-text {
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
  }

  @keyframes animate-gradient {
    to {
      background-position: 200%;
    }
  }
  .logo {
    @apply relative w-20 rounded overflow-clip aspect-square;
  }
}

.hero-section {
  @apply h-[108vh] flex flex-col justify-evenly;
}
section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light {

  --color-background: #fefdfd;
  --color-primary: #ceb2bd;
  --color-secondary: #482a41;
  --color-accent: #00ffff;
  --color-descent: #ff00ff;
  
}
:root {
  --color-background: black;
  --color-background1: #3e3a37;
  --color-primary: #ad9547;
  --color-secondary: #432622;
  --color-accent: #00ffff;
  --color-descent: #ff00ff;
  --color-text-h0-primary: #ad9547;
  --color-text-h0-secondary: white: 
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Bestermind";
  src: url("/fonts/BestermindRegular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMonoVF.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistVF.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
